body {
    background-color: #406bbc;
}

.cabecalho {
    border: none;
    display: flex;
    background-color: #9cbcc6;
    align-items: center;
    padding: 0 24px;
    height: 100px;
}

.cabecalho h1 {
    color: #102b53;
    margin: 0;
    margin-right: auto;
    font-family: Georgia, serif;
}

.navegacao {
    display: flex;
    gap: 20px;
}

.navegacao a {
    color: #102b53;
    text-decoration: none;
    font-size: medium;
    font-family: Arial, sans-serif;
}
.caixa {
    width: 800px;
    background-color: #9cbcc6;
    padding: 15px;
    margin: 20px auto; 
    color: #102b53;
    font-family: Arial, sans-serif;
    border-radius: 15px;

}

.caixa h2 {
    text-align: center; 
    font-family: Georgia, serif; 
}